 .brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}
